@font-face {
    font-family: "boo";
    src: url(/font/MortifiedDrip.ttf);
}

body { 
    background-color: rgb(2, 1, 34);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.game{
    background-color: rgb(67, 87, 173);
    display: flex;
    height: 850px;
    width: 800px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    border-radius: 25px;
    border-style: solid;
    border-width: 7px;
    border-color:antiquewhite;
    
}

h1{
    font-family: "boo";
    background-color: rgb(56, 54, 154);
    display: flex;
    font-weight: 500;
    align-self: center;
    font-size: 150px;
    margin-top: -25px;
    color: rgb(2, 1, 34);
    text-shadow: 2px 2px white;
    border-radius: 50px;
    
;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-self: flex-start;
    align-self: center;
    margin-top: -75px;
    font-size: 30px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    background-color:  rgb(2, 1, 34);
    align-self: flex-start;
    align-self: center;
    font-weight: 1000;
    color: antiquewhite;
    max-width: 500px;
    padding: 25px;
    border-radius: 10px;
    margin-top: 0px;
}

.img-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    display: flex;
    max-width: 250px;
    align-self: center;
    border-radius: 50px;
}

.btn{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    margin-top: 35px;
    justify-content: space-evenly;
   
}

.btn1{
    display: flex;
    align-self: center;
    background-color:  rgb(56, 54, 154);
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: antiquewhite;
    border-radius: 10px;
}

.btn2{
    display: flex;
    align-self: center;
    background-color:  rgb(56, 54, 154);
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: antiquewhite;
    border-radius: 10px;
}

.btn3{
    display: flex;
    align-self: center;
    
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: antiquewhite;
    border-radius: 10px;
    background-color:  rgb(56, 54, 154);
}

button {
    display: flex;
    align-self: center;
    background-color:  rgb(56, 54, 154);
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: antiquewhite;
    border-radius: 10px;
}